/* Global classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
i,
a {
  font-size: 1.6rem;
}
.color-primary {
  color: #ff42a5;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
button {
  padding: 15px 30px;
  font-size: 1.6rem;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
}
h2 {
  font-size: 4.5rem;
}
.section-title {
  font-size: 4.5rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-description {
  color: #534c64;
  font-size: 1.8rem;
}
.margin-tb {
  margin: 20px 0px;
}

/* ? header style --------------------------------------------------------------*/
.full-width {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header_logo {
  display: flex;
}
.logo_text {
  font-size: 3.5rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px;
}
.img > img {
  width: 90px;
  margin-right: 1em;
}
.nav_right,
.nav_text {
  display: flex;
  gap: 30px;
}
.nav_right {
  align-items: center;
}
.nav_box {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 25px;
}
.nav_box li a img {
  width: 20px;
}
.nav_right div li a {
  color: #3c354f;
}
/* ? banner style ------------------------- */
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}
.div {
  background-color: #faf7fd;
}
.left-img {
  position: relative;
}
.banner-left {
  display: flex;
  align-items: center;
}
.normal_text {
  color: #0b0223;
  font-size: 4.5rem;
}
.gradient_text {
  font-size: 9.3rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  color: #3c354f;
}
.btn {
  display: flex;
  gap: 30px;
}
.btn-primary {
  background-color: #f948b2;
}
.btn-secondary {
  background-color: #4ec5f7;
}
/* ? gamer style ------------------------- */
.gamer {
  /* background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  ); */
  background: white;
}
.both-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  padding: 50px 0;
}
.gamer_right {
  text-align: right;
}
.quote {
  color: #484257;
}
.quote > p {
  font-size: 2rem;
}
.quote > h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
/* ? online games funny video style ------------------------- */
.online-games {
  text-align: center;
}
.online-games > h2 > .text {
  color: #3c354f;
}
.online-games > p {
  margin: 10px 0;
}
.img-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.game-hover > img {
  width: 20px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.game-hover > p {
  color: #f948b2;
}
.game-hover {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
}
.game-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease all;
}
.game-card:hover .game-hover {
  opacity: 1;
  cursor: pointer;
  background: linear-gradient(
    to right top,
    #051937ae,
    #051d40a7,
    #04224aae,
    #032654bb,
    #022b5ea6
  );
}
.game-caption {
  text-align: left;
  margin-top: 24px;
}
/* ? play instantly section ------------------------- */
.both-side {
  display: grid;
  gap: 200px;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin: 100px 0px 200px 0px;
}
.both-side:nth-child(1){
  flex-basis: 40%;
}
.both-side:nth-child(2){
  flex-basis: 50%;
}
.play-text > h2 {
  text-align: right;
}
.play-text > P {
  text-align: right;
  margin: 15px 0px;
}
.first-img {
  position: relative;
}
.second-img {
  position: absolute;
  width: 250px;
  top: 60%;
  right: 70%;
}
/* ? games list section ------------------------- */
.main {
  padding: 70px 0px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.all-games {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.g-list {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: 0.4s ease all;
}
.g-list:hover {
  color: #f948b2;
  border: 1px solid #f948b2;
  cursor: pointer;
}
.g-list .games-img > img {
  width: 50px;
}

/* ? responsive ---------------------------- */
@media screen and (max-width: 1050px) {
  .both-side {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .play-text > h2,
  p {
    text-align: center;
  }
  .second-img {
    position: absolute;
    width: 300px;
    top: 70%;
    right: 25%;
  }
}
@media screen and (max-width: 1000px) {
  .navigation {
    flex-direction: column;
    gap: 20px;
  }
  .nav_right,
  .nav_text {
    flex-direction: column;
    align-items: center;
  }
  .nav_text {
    margin: 10px 0px;
  }
  .full-width {
    box-shadow: none;
  }
  .banner {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .banner-left {
    justify-content: center;
    padding: 100px 0;
  }
  .both-div {
    grid-template-columns: 1fr;
  }
  .gamer_right {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .img-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .second-img {
    max-width: 250px;
    right: 20%;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 95%;
  }
  .banner-left {
    background-position: left;
  }
  .normal_text {
    font-size: 4rem;
  }
  .gradient_text {
    font-size: 8rem;
  }
  .img-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .main {
    padding: 70px 0px;
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
  }
  .all-games {
    gap: 10px;
  }
  .g-list {
    gap: 5px;
  }
  .g-list .games-img > img {
    width: 30px;
  }
}
