/* root */
:root {
  /* colors */
  --clr-main: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --clr-secondary: #4ec5f7;

  --bg-footer: #0b0223;
  --bg-nav-box: rgba(11, 2, 35, 0.1);

  --text-header: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --text-main: #534c64;
  --text-nav: #3c354f;
  --text-games: #0b0223;

  /* fonts */
  --ff-main: "Work Sans", sans-serif;
}

/* Global classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-main);
}
html {
  font-size: 62.5%;
}
img {
  display: block;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 20px 10px 0px 10px;
}
.clr-main {
  background: var(--clr-main);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* header style */

.header_logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.header_logo .img img {
  width: 8.5rem;
}
.header_logo .logo_text {
  font-size: 4.4rem;
}
ul li a {
  font-size: 1.8rem;
  color: var(--text-nav);
}
.nav_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0;
}
.nav_box li a img {
  width: 3rem;
}
.nav_box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  margin: 0 auto;
  background-color: var(--bg-nav-box);
  padding: 10px 20px;
  border-radius: 7px;
}

/* responsive style */
@media screen and (min-width: 768px) {
  .full-width {
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  }
  .container {
    margin: 0px 30px 0px 30px;
    padding: 10px 0;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .nav_right {
    display: flex;
    align-items: center;
  }
  .nav_text {
    flex-direction: row;
    margin-right: 20px;
  }
  .nav_box {
    padding: 0px 20px;
    height: 55px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .nav_text {
    gap: 40px;
    margin-right: 40px;
  }
}
